{% extends 'abstract/base.html' %}

{% block header %}
  <title>Login</title>
{% endblock %}

{% block content %}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="alert alert-warning" role="alert">
      This page is for researchers only. If you are a patient <a href="{{ url_for('main.index') }}">Click Here</a>
    </div>
    <div class="alert alert-info" role="alert">
      If you are a researcher with a registration token <a href="{{ url_for('auth.token') }}">Click Here</a>
    </div>
    <form method="POST">
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4 input-group input-group-lg has-feedback">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          {{ form.email(class='form-control', placeholder='Email') }}
          <span class="glyphicon form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4 input-group input-group-lg has-feedback" data-toggle="tooltip"
            data-placement="bottom" data-trigger="'manual" title="Must be 10 characters or more">
          <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
          {{ form.password(class='form-control', placeholder='Password') }}
          <span class="glyphicon form-control-feedback"></span>
        </div>
      </div>
      {{ form.csrf_token() }}
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4">
          {{ form.submit(class='form-control', disabled=True) }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}