{% extends 'abstract/base.html' %}

{% block header %}
  <title>Register</title>
{% endblock %}

{% block content %}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <form method="POST">
      {{ macros.form_element('glyphicon glyphicon-envelope', form.email(class='form-control', readonly=True)) }}
      {{ macros.form_element('glyphicon glyphicon-tag', form.token(class='form-control', readonly=True)) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.first_name(class='form-control', placeholder='First Name')) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.last_name(class='form-control', placeholder='Last Name')) }}
      {{ macros.form_element('glyphicon glyphicon-barcode', form.password(class='form-control', placeholder='Password'),
              data='Must be 10 characters or more')}}
      {{ macros.form_element('glyphicon glyphicon-barcode', form.password_confirm(class='form-control', placeholder='Confirm Password'),
              data='Passwords must match')}}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/auth/register.js') }}"></script>
{% endblock %}