{% extends 'abstract/base.html' %}

{% block header %}
  <title>New Researcher</title>
{% endblock %}

{% block content %}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <form method="POST">
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4 input-group input-group-lg has-feedback">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          {{ form.email(class='form-control', placeholder='Email') }}
          <span class="glyphicon form-control-feedback"></span>
        </div>
      </div>
      {{ form.csrf_token() }}
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4">
          {{ form.submit(class='form-control', disabled=True) }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/new_researcher.js') }}"></script>
{% endblock %}