textarea.form-control{
    width: 100%;
    resize: none;
    height: 100px;
}

.table-bordered>tbody>tr>td{
    vertical-align: middle;
}

 .has-feedback label~.form-control-feedback{
     top: 0;
 }

th{
    text-align: center;
}

.question{
    font-size: larger;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
}

.progress{
    width: 90%;
    margin: 10px auto;
}

body{
    margin-bottom: 50px;
}

.picker-disabled{
    background-color: #eee;
}

#warning{
    display: none;
}

@media
only screen and (max-width: 1400px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr{
        border: 1px solid #ccc;
    }

    .table-bordered>tbody>tr>td{
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
    }

    .table-bordered>tbody>tr>td:before{
        position: absolute;
        top: 6px;
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bolder;
    }


    td:nth-of-type(1):before{ content: "Question"}
    td:nth-of-type(2):before{ content: "N/A"}
    td:nth-of-type(3):before{ content: "Intensity"}
    td:nth-of-type(4):before{ content: "Frequency"}
    td:nth-of-type(5):before{ content: "Change"}
    td:nth-of-type(6):before{ content: "Notes"}
}

@media
only screen and (max-width: 420px){
    td:nth-of-type(1):before{ content: ""}
    td:nth-of-type(2):before{ content: ""}
    td:nth-of-type(6):before{ content: ""}

    .table-bordered>tbody>tr>td{
        padding-left: 5%
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 250px;
        padding-left: 100px;
    }
}