{% extends 'abstract/base.html' %}

{% block header %}
  <title>Login</title>
{% endblock %}

{% block content %}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <form method="POST">
      {{ macros.form_element('fa fa-id-card', form.patient_id(class="form-control", placeholder="Patient ID")) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.first_name(class="form-control", placeholder="First Name")) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.last_name(class="form-control", placeholder="Last Name")) }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/main/index.js') }}"></script>
{% endblock %}