{% extends 'abstract/base.html' %}

{% block header %}
  <title>Finished</title>
  <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="well well-lg">
    <p>The form has been successfully submitted. Thank you.</p>
    <p>You may safely close the browser.</p>
  </div>
  <footer>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%;">
        100% Complete
      </div>
    </div>
  </footer>
{% endblock %}