{% extends 'abstract/base.html' %}

{% block header %}
  <title>Form -- page {{ section }}</title>
  <link href="{{ url_for('static', filename='css/main/form.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="col-xs-10">
      <h1>{{ session['name'] }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <form method="POST">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Question</th>
                <th>Skip</th>
                <th>Intensity</th>
                <th>Frequency</th>
                <th>Change</th>
                <th>Notes</th>
              </tr>
            </thead>
              <tbody>
                {% for question, response in questions %}
                  <tr>
                    <td class="question">{{ question }}</td>
                    <td class="skip">
                      <label>
                        {% if response.intensity is none %}
                          <input name='{{ loop.index + buffer }}' type="checkbox" value="skip" checked/>
                        {% else %}
                          <input name='{{ loop.index + buffer }}' type="checkbox" value="skip"/>
                        {% endif %}
                        Skip
                      </label>
                    </td>
                    <td>
                      {{ macros.radio_macro('i', loop.index + buffer, response.intensity) }}
                      {{ macros.select_macro('i', loop.index + buffer, response.intensity) }}
                    </td>
                    <td>
                      {{ macros.radio_macro('f', loop.index + buffer, response.frequency) }}
                      {{ macros.select_macro('f', loop.index + buffer, response.frequency) }}
                    </td>
                    <td>
                      {{ macros.radio_bsw_macro('c', loop.index + buffer, response.change) }}
                      {{ macros.select_bsw_macro('c', loop.index + buffer, response.change) }}
                    </td>
                    <td>
                      <textarea class="form-control" name="{{ loop.index + buffer }} n" placeholder="Notes">{{ response.notes }}</textarea>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
    </form>
    <ul class="pager">
      {% if buffer != 0 %}
        <li class="previous">
          <button id='previous' class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Previous
          </button>
        </li>
      {% endif %}
      <li class="next">
        {% if complete != 100 %}
          <button id='next' class="btn btn-default">
            Next
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        {% else %}
          <button id='next' class="btn btn-success">
            SUBMIT
          </button>
        {% endif %}
      </li>
    </ul>
  </div>
  <footer>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ complete }}%; min-width: 2em;">
        {{ complete }}% Complete
      </div>
    </div>
  </footer>
{% endblock %}

{% block scripts %}
  <script>
      var submitData = "{{ url_for('main.process') }}";
      var nextPage = "{{ url_for('main.form') }}";
      var loginPage = "{{ url_for('main.index') }}";
  </script>
  <script src="{{ url_for('static', filename='js/main/form.js') }}"></script>
{% endblock %}