{% extends 'abstract/admin_base.html' %}

{% block header %}
  <title>Admin Home</title>
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Welcome {{ current_user.first_name|title }} {{ current_user.last_name|title }}</h1>
        </div>
        <div class="panel-body">
          <ul>
            <li>Select the action you would like to take above</li>
            <li>Be sure to log out when you are finished</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}