{% extends 'abstract/admin_base.html' %}

{% block header %}
  <title>New Session</title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-datepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">New Assessment Form</h1>
        </div>
        <div class="panel-body">
          <p>Use this form to add a new assessment for a patient.</p>
        </div>
      </div>
    </div>
    <form id='form1' method="POST">
      {{ macros.form_element('fa fa-id-card', form.patient_id(class='form-control', placeholder='Patient ID')) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.first(class='form-control', placeholder='First Name')) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.last(class='form-control', placeholder='Last Name')) }}
      {{ macros.form_element('glyphicon glyphicon-calendar', form.date(class='form-control', placeholder='Date', type='text', id='date')) }}
      {{ macros.select_element('Assessment', form.form_name, 'form_name') }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
  <br/>
  <br/>
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">View or Delete Upcoming Sessions Form</h1>
        </div>
        <div class="panel-body">
          <p>Use this form to view or delete upcoming patient sessions.</p>
        </div>
      </div>
    </div>
    <form id='form2' method="POST" action="{{ url_for('admin.delete_session') }}">
      <div class="container-fluid">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for s in sessions %}
              <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td><input class='skip' name="{{ s[2] }}" type="checkbox" value="{{ s[0] }}"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
        <input id='submit' name='submit' type="submit" value="Delete Checked Sessions"
               class="form-control btn-info skip">
      </div>
    </form>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/new_session.js') }}"></script>
{% endblock %}