{% extends 'abstract/admin_base.html' %}

{% block header %}
  {{ super() }}
  <title>New Protocol Form</title>
  <link href="{{ url_for('static', filename='css/admin/protocol.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">New Protocol Form</h1>
        </div>
        <div class="panel-body">
          <ul>
            <li><h4>Use this form to select a session to enter protocols.</h4></li>
            <li><h4>A protocol form must be created for each patient session.</h4></li>
            <li><h4>This form load the most recent protocol information available.</h4></li>
            <li><h4>Patient ID must be entered before assessment dates are loaded.</h4></li>
          </ul>
        </div>
      </div>
    </div>
    <form method="POST">
      <div class="row">
        <div class="form-group">
          <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4 input-group input-group-lg has-feedback">
            <span class="input-group-addon"><span class="fa fa-id-card"></span></span>
            <input class="form-control" id="patient_id" name="patient_id" type="text" value="" placeholder="Patient ID"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4 input-group input-group-lg has-feedback">
          <div id="dates">
            <select class="selectpicker show-tick" title="Dates" id="form_id" name="form_id">
            </select>
          </div>
        </div>
      </div>
      {{ form.csrf_token() }}
      <br/>
      <br/>
      <div id="p-error">
        {{ macros.flashed_messages([('error', 'This patient has no outstanding sessions. Did you add their session first?')]) }}
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          {{ form.submit(class='form-control') }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var ajaxPatient = "{{ url_for('admin.init_ajax') }}";
  </script>
  <script src="{{ url_for('static', filename='js/admin/protocol_init.js') }}"></script>
{% endblock %}