{% extends 'abstract/admin_base.html' %}

{% block header %}
  {{ super() }}
  <title>Remove Researcher</title>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Remove Researcher Form</h1>
        </div>
        <div class="panel-body">
          <ul>
            <li><h4>Use this form to remove a researcher.</h4></li>
            <li><h4>Researchers labeled as "Master" cannot be removed.</h4></li>
            <li><h4>For security purposes, all old accounts should be removed.</h4></li>
          </ul>
        </div>
        <div class="alert alert-danger">
          WARNING: This researcher will no longer have access to the patient database!
        </div>
      </div>
    </div>
    <form method="POST">
      {{ macros.form_element('glyphicon glyphicon-envelope', form.email(class='form-control', placeholder='Email')) }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
  <br/>
  <br/>
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="alert alert-info">
        Below are all the researchers that have access to the patient database.
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Master</th>
          <th>Confirmed</th>
        </tr>
      </thead>
      <tbody>
        {% for r in display %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.first_name }}</td>
            <td>{{ r.last_name }}</td>
            <td {% if r.role == 'master' %}class="btn-warning"{% endif %}>{{ r.role == 'master' }}</td>
            <td {% if r.token != none %}class="btn-danger"{% endif %}>{{ r.token == none }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/remove_researcher.js') }}"></script>
{% endblock %}