{% extends 'abstract/admin_base.html' %}

{% block header %}
  <title>Remove Researcher</title>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Remove Researcher Form</h1>
        </div>
        <div class="panel-body">
          <p>Use this form to remove a researcher.</p>
        </div>
        <div class="alert alert-danger">
          WARNING: This researcher will no longer have access to the patient database!
        </div>
      </div>
    </div>
    <form method="POST">
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4 input-group input-group-lg has-feedback">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          {{ form.email(class='form-control', placeholder='Email') }}
          <span class="glyphicon form-control-feedback"></span>
        </div>
      </div>
      {{ form.csrf_token() }}
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4">
          {{ form.submit(class='form-control', disabled=True) }}
        </div>
      </div>
    </form>
  </div>
  <br/>
  <br/>
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="alert alert-info">
        Below are all the researchers that have access to the patient database.
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Master</th>
          <th>Confirmed</th>
        </tr>
      </thead>
      <tbody>
        {% for r in display %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.first_name }}</td>
            <td>{{ r.last_name }}</td>
            <td {% if r.role == 'master' %}class="btn-warning"{% endif %}>{{ r.role == 'master' }}</td>
            <td {% if r.token != none %}class="btn-danger"{% endif %}>{{ r.token == none }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/remove_researcher.js') }}"></script>
{% endblock %}