{% extends 'abstract/admin_base.html' %}

{% block header %}
  <title>Reset Passowrdr</title>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Reset Password Form</h1>
        </div>
        <div class="panel-body">
          <p>Use this form to reset a researcher's password.</p>
        </div>
        <div class="alert alert-danger">
          WARNING: This person will need to reregister to use this app.
        </div>
      </div>
    </div>
    <form method="POST">
      {{ macros.form_element('glyphicon glyphicon-envelope', form.email(class='form-control', placeholder='Email')) }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
  <br/>
  <br/>
  {% if display %}
    <div class="col-xs-offset-1 col-xs-10">
      <div class="alert alert-danger">
        WARNING: The following researchers have not confirmed their accounts.
      </div>
    </div>
    <div class="container-fluid">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Master</th>
            <th>Token</th>
          </tr>
        </thead>
        <tbody>
          {% for r in display %}
            <tr>
              <td>{{ r.id }}</td>
              <td>{{ r.email }}</td>
              <td>{{ r.first_name }}</td>
              <td>{{ r.last_name }}</td>
              <td {% if r.role == 'master' %}class="btn-warning"{% endif %}>{{ r.role == 'master' }}</td>
              <td {% if r.token != none %}class="btn-danger"{% endif %}>{{ r.token }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/reset_password.js') }}"></script>
{% endblock %}