{% extends 'abstract/admin_base.html' %}

{% block header %}
  {{ super() }}
  <title>Update Patient Intake</title>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Update Patient Intake Form</h1>
        </div>
        <div class="panel-body">
          <ul>
            <li><h4>Use this form to update a patient's intake form.</h4></li>
            <li><h4>Any changes are updated in the patient's file.</h4></li>
          </ul>
        </div>
      </div>
    </div>
    <form method="POST">
      {{ macros.form_element('fa fa-id-card', form.patient_id(class="form-control", placeholder='Patient ID')) }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/update_intake.js') }}"></script>;
{% endblock %}