{% extends 'abstract/base.html' %}

{% block header %}
  <title>Update General Information</title>
  <link href="{{ url_for('static', filename='css/main/form.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main/general_information.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap/css/jtsage-datebox.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <form method="POST">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>Response</th>
          </tr>
        </thead>
          <tbody>
            {% for field in form %}
              {% if field.id not in ('general_submit', 'csrf_token') %}
                <tr>
                  <td class="question">{{ field.label }}</td>
                  <td>
                    {% if field.id == 'patient_id' %}
                      {{ field(class='form-control', placeholder='Answer Here', readonly=True) }}
                    {% elif field.id == 'date_of_birth' %}
                      {{ field(class='form-control', placeholder='mm/dd/yyyy', data_role='datebox',
                              data_options='{"mode":"datebox", "useButton":false, "useFocus":true,
                              "overrideDateFormat":"%m/%d/%Y"}') }}
                    {% else %}
                      {{ field(class='form-control', placeholder='Answer Here') }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input id='submit' name='submit' type="submit" value="Submit" class="form-control btn-info">
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='bootstrap/js/jtsage-datebox.min.js') }}"></script>
{% endblock %}