{% extends 'abstract/admin_base.html' %}

{% block header %}
  {{ super() }}
  <title>Update Password</title>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Update Password Form</h1>
        </div>
        <div class="panel-body">
          <ul>
            <li><h4>Use this form to change your password.</h4></li>
            <li><h4>Enter your current password and then your new password.</h4></li>
            <li><h4>Passwords must be at least 10 characters in length.</h4></li>
            <li><h4>If you have forgotten your current password, contact the
              main researcher so that they can reset your password.</h4></li>
          </ul>
        </div>
      </div>
    </div>
    <form method="POST">
      {{ macros.form_element('glyphicon glyphicon-barcode',
        form.current_password(class='form-control', placeholder='Current Password'),
        data='Must be 10 characters or more') }}
      {{ macros.form_element('glyphicon glyphicon-barcode',
        form.new_password(class='form-control', placeholder='New Password'),
        data='Must be 10 characters or more') }}
      {{ macros.form_element('glyphicon glyphicon-barcode',
        form.confirm_password(class='form-control', placeholder='Confirm New Password'),
        data='Passwords must match') }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/update_password.js') }}"></script>
{% endblock %}