{% extends 'abstract/admin_base.html' %}

{% block header %}
  {{ super() }}
  <title>New User</title>
  <link href="{{ url_for('static', filename='bootstrap/css/jtsage-datebox.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">New Patient Form</h1>
        </div>
        <div class="panel-body">
          <ul>
            <li><h4>Use this form to add a new patient to the database.</h4></li>
            <li><h4>You must fill out each option to complete the form.</h4></li>
            <li><h4>This form only needs to be filled out once per patient.</h4></li>
            <li><h4>A patient may not be added to the site more than once.</h4></li>
          </ul>
        </div>
      </div>
    </div>
    <form method="POST">
      {{ macros.form_element('fa fa-id-card', form.patient_id(class="form-control", placeholder='Patient ID')) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.first(class="form-control", placeholder='First Name')) }}
      {{ macros.form_element('glyphicon glyphicon-user', form.last(class="form-control", placeholder='Last Name')) }}
      {{ macros.select_element('Group', form.group, 'group') }}
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4 has-feedback">
          {{ form.dob.label }} <input class="form-control" id='dob' data-role='datebox' data-options='{"mode":"datebox",
             "useButton":false, "useFocus":true, "overrideDateFormat":"%m/%d/%Y"}' name="dob"
              placeholder="mm/dd/yyyy"/>
        </div>
      </div>
      <br/>
      <br/>
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/admin/user.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/jtsage-datebox.min.js') }}"></script>
{% endblock %}