{% extends 'abstract/admin_base.html' %}

{% block header %}
  <title>Data Request</title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-datepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {{ super() }}
  {{ macros.flashed_messages(get_flashed_messages(with_categories=true)) }}
  <div class="container-fluid">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Data Request Form</h1>
        </div>
        <div class="panel-body">
          <p>Use this form to download patient data.</p>
        </div>
      </div>
    </div>
    <form method="POST">
      {{ macros.form_element('fa fa-id-card', form.patient_id(class='form-control', placeholder='Patient ID')) }}
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          {{ form.initial_data() }} Include Initial Assessment Data
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          {{ form.patient_data() }} Include Patient Information
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          {{ form.intake_data() }} Include Intake Information
        </div>
      </div>
      <br/>
      {{ macros.select_element('Data Request', form.data_request, 'data_request') }}
      {{ macros.select_element('Form', form.form_type, 'form_type') }}
      {{ form.csrf_token() }}
      {{ macros.submit_element() }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/data/index.js') }}"></script>
{% endblock %}