{% import 'macros/macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="{{ url_for('static', filename='favicon/favicon.ico') }}" rel="shortcut icon"/>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
  {% block header %}

  {% endblock %}
</head>
<body>
  <div class="jumbotron">
    <h1>Title</h1>
    <p>Contact Information</p>
  </div>
  {% block content %}

  {% endblock %}

  <script>
    var csrf_token = "{{ csrf_token() }}";
  </script>
  {{ moment.include_jquery() }}
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/abstract/form_base.js') }}"></script>

  {% block scripts %}

  {% endblock %}
</body>
</html>